@import "tailwindcss";

@theme {
  --color-burgundy: #4a0e0e;
  --color-gold: #d4af37; /* buttons & CTA */
  --color-ivory: #f9f7f2; /* background */
  --color-charcoal: #2b2b2b; /* text */

  --animate-hero-in: hero-in 1200ms cubic-bezier(0.16, 1, 0.3, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-inter);
}

p,
button {
  font-family: var(--font-plex);
}

@layer components {
  .top-nav-icon-style {
    @apply flex items-center justify-center w-10 h-10 text-burgundy cursor-pointer;
  }

  .bottom-nav-link-style {
    @apply uppercase text-sm hover:text-burgundy cursor-pointer text-charcoal;
  }
}

/* Keyframes */
@keyframes hero-in {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@layer utilities {
  .animate-hero-in {
    animation: var(--animate-hero-in);
  }
}
